<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="mysql" class="com.spring.beans.MySQL_Connector">
        <!-- This property tag internally calls the setter method (see terminal output) -->
        <property name="message" value="This is MySQL Connector"/>
    </bean>

</beans>